{% extends 'base.html' %}

{% block title %}Смена пароля{% endblock %}

{% block dropdown %}
    <li class="nav-item"><a class="nav-link" href="{% url 'accounts:detail' user_obj.pk %}">Назад</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'accounts:update' user_obj.pk %}">Редактирование
        личных данных</a></li>
{% endblock %}

{% block content %}
        <div class="card m-2">
            <div class="card-header alert-dark">
                Смена пароля
            </div>

            <div class="card-body">
                <form action="{% url 'accounts:detail' user_obj.pk %}" method="post">
                    {% include 'partial/task_form.html' with button_text="Сохранить" %}
                </form>
            </div>
        </div>
{% endblock %}