{% extends 'base.html' %}
{% csrf_token %}

{% block title %}Пользователь{% endblock %}

{% block dropdown %}
    {% if user.pk == user_obj.pk %}
        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:update' user_obj.pk %}">Редактировать</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:password_change' user_obj.pk %}">Смена пароля</a></li>
    {% endif %}
{% endblock %}

{% block content %}
        <div class="card m-2">
            <div class="card-header alert-dark">
                Личный кабинет
            </div>

            <div class="card-body">
                <p class="card-text">Имя пользователя: {{ user_obj.username }}</p>
                <p class="card-text">Имя: {{ user_obj.first_name }}</p>
                <p class="card-text">Фамилия: {{ user_obj.last_name }}</p>
                <p class="card-text">Почта: {{ user_obj.email }}</p>
            </div>
        </div>
{% endblock %}