{% extends 'base.html' %}

{% block menu %}
    <a class="nav-link" href="{% url 'task_add' %}">Дабавление</a>
{% endblock %}
{% block dropdown %}
<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Типы
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for Type in Types %}
            <div class="d-flex">
                <a class="dropdown-item " href="#">{{ Type.name }}</a>
                <div class="d-flex">
                <a class="dropdown-item " href="{% url 'types_update' Type.pk %}"><i class="fas fa-pencil-alt"></i></a>
                <a class="dropdown-item " href="{% url 'delete_types' Type.pk %}"><i class="fab fa-hotjar"></i></a>
                </div>
            </div>
          {% endfor %}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'types_add' %}">Добавить тип</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Статусы
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for Stat in Status %}
            <div class="d-flex">
                <a class="dropdown-item" href="#">{{ Stat.name }}</a>
                <div class="d-flex">
                <a class="dropdown-item " href="{% url 'status_update' Stat.pk %}"><i class="fas fa-pencil-alt"></i></a>
                <a class="dropdown-item " href="{% url 'delete_status' Stat.pk %}"><i class="fab fa-hotjar"></i></a>
                </div>
            </div>
          {% endfor %}
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'status_add' %}">Добавить статус</a>
        </div>
      </li>
{% endblock %}

{% block content %}
    {% for Task in Tasks %}
        <div class="card m-2">
            <div class="card-header">
                {{ Task.summary }} ({{ Task.created_at }})
            </div>

            <div class="card-body">
                <p class="card-text">Статус: {{ Task.status }}</p>
                <p class="card-text">Тип задачи: {{ Task.types }}</p>
                <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                        <form><a href="{% url 'delete_task' Task.pk %}" class="btn btn-primary">Удаление</a></form>
                    </div>
                    <div class="col-auto my-1">
                        <form><a href="{% url 'task_view' Task.pk %}" class="btn btn-primary">Подробнее</a></form>
                    </div>
                    <div class="col-auto my-1">
                        <form><a href="{% url 'task_update' Task.pk %}" class="btn btn-primary">Редаклирование</a></form>
                    </div>
                </div>

            </div>
        </div>
    {% endfor %}
{% endblock %}