{% extends 'base.html' %}

{% block menu %}
    <a class="nav-link" href="{% url 'task_add' %}">Дабавление</a>
{% endblock %}
{% block dropdown %}
<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Типы
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for Type in Types %}<a class="dropdown-item" href="#">{{ Type.name }}</a>{% endfor %}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Добавить тип</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Статусы
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for Stat in Status %}<a class="dropdown-item" href="#">{{ Stat.name }}</a>{% endfor %}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Добавить статус</a>
        </div>
      </li>
{% endblock %}

{% block content %}
    {% for Task in Tasks %}
        <div class="card m-2">
            <div class="card-header">
                {{ Task.summary }} ({{ Task.created_at }})
            </div>

            <div class="card-body">
                <p class="card-text">Статус: {{ Task.status }}</p>
                <p class="card-text">Тип задачи: {{ Task.types }}</p>
                <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                        <form><a href="{% url 'delete_task' Task.pk %}" class="btn btn-primary">Удаление</a></form>
                    </div>
                    <div class="col-auto my-1">
                        <form><a href="{% url 'task_view' Task.pk %}" class="btn btn-primary">Подробнее</a></form>
                    </div>
                    <div class="col-auto my-1">
                        <form><a href="{% url 'task_update' Task.pk %}" class="btn btn-primary">Редаклирование</a></form>
                    </div>
                </div>

            </div>
        </div>
    {% endfor %}
{% endblock %}