{% extends 'base.html' %}

{% block menu %}
    <a class="nav-link" href="{% url 'index' %}">Задачи</a>
{% endblock %}

{% block dropdown %}
    <a class="nav-link" href="{% url 'project_add' %}">Дабавление</a>
{% endblock %}

{% block content %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    {% for project in projects %}
        <div class="card m-2">
            <div class="card-header">
                {{ project.name }} (Дата создание: {{ project.created_at }})
            </div>

            <div class="card-body">
                <p class="card-text">Дата обновления: {{ project.updated_at }}</p>
                <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                        <form><a href="{% url 'delete_project' project.pk %}" class="btn btn-primary">Удаление</a></form>
                    </div>
                    <div class="col-auto my-1">
                        <form><a href="{% url 'project_view' project.pk %}" class="btn btn-primary">Подробнее</a></form>
                    </div>
                    <div class="col-auto my-1">
                        <form><a href="{% url 'project_update' project.pk %}" class="btn btn-primary">Редаклирование</a></form>
                    </div>
                </div>

            </div>
        </div>
    {% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}