{% extends 'base.html' %}

{% block menu %}
    <a class="nav-link" href="{% url 'webapp:index' %}">Задачи</a>
{% endblock %}

{% block dropdown %}
    <a class="nav-link" href="{% url 'webapp:project_add' %}">Дабавление</a>
{% endblock %}

{% block search %}
    {% include 'partial/simple_search.html' %}
{% endblock %}

{% block content %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    {% for project in projects %}
        <div class="card m-2">
            <div class="card-header">
                {{ project.name }} (Дата создание: {{ project.created_at }})
            </div>

            <div class="card-body">
                <p class="card-text">Дата обновления: {{ project.updated_at }}</p>
                <div class="form-row align-items-center">
                {% for project_user in users_project %}
                    {% if user.is_authenticated and project_user == project  %}
                        <div class="col-auto my-1">
                            <form><a href="{% url 'webapp:delete_project' project.pk %}" class="btn btn-primary">Удаление</a></form>
                        </div>
                        <div class="col-auto my-1">
                            <form><a href="{% url 'webapp:project_update' project.pk %}" class="btn btn-primary">Редаклирование</a></form>
                        </div>
                    {% endif %}
                {% endfor %}

                    <div class="col-auto my-1">
                        <form><a href="{% url 'webapp:project_view' project.pk %}" class="btn btn-primary">Подробнее</a></form>
                    </div>
                </div>

            </div>
        </div>
    {% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}