{% extends 'base.html' %}

{% block content %}
        <div class="card m-2">
            <div class="card-header">
                {{ Task.summary }} ({{ Task.created_at }})
            </div>

            <div class="card-body">
                <p class="card-text">Статус: {{ Task.status }}</p>
                <p class="card-text">Тип задачи: {{ Task.types }}</p>
                <p class="card-text">Полное описание: {{ Task.description }}</p>
                <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                        <form><a href="{% url 'delete_task' Task.pk %}" class="btn btn-primary">Удаление</a></form>
                    </div>
                    <div class="col-auto my-1">
                        <form><a href="{% url 'task_update' Task.pk %}" class="btn btn-primary">Редаклирование</a></form>
                    </div>
                </div>

            </div>
        </div>
{% endblock %}